<table id="all-disorders">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Definition</th>
    <th>Dx code</th>
    <th>Codes</th>
    <th>Resource uri</th>
  </tr>

<%= render :partial => 'dx', :collection => @all_dxes %>

</table>