<%= form_for :dx, :remote => true do |f| %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "Name" %>
    <%= f.text_field :definition, :placeholder => "Definition" %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :id => 'new_disorder_submit' %>
  </div>
<% end %>