<div class="hidden" id="edit-disorder-form">
  <form>
    <fieldset>
      <label for="name">Name</label>
      <input type="text" name="name" id="name"></input>
      <label for="definition">Definition</label>
      <input type="text" name="definition" id="definition"></input>
    </fieldset>
  </form> 
</div>