<!--div id="search-form">
  <%#= form_for @search_dxes, :url => search_disorders_path do |f| %>
    <div class="field">
      <%#= f.text_field :name, :placeholder => "Enter disorder name" %>
    </div>
    <div class="actions">
      <%#= submit_tag 'Submit', :id => 'search-disorders-submit' %>
    </div>
  <#% end %>
</div-->

<h3>Search Results</h3>
<table id="search-disorders">
  <tr>
    <th>Name</th>
    <th>Definition</th>
    <th>Dx code</th>
    <th>Codes</th>
    <th>Resource uri</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render :partial => 'dx', :collection => @search_dxes %>
</table>