<table id="search-disorders">
  <tr>
    <th>Name</th>
    <th>Definition</th>
    <th>Dx code</th>
    <th>Codes</th>
    <th>Resource uri</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render :partial => 'dx', :collection => @search_result_dxes %>
</table>