<h2>Disorder Search</h2>
<%= render 'search_disorders' %>
<br></br>

<h2>Create New Disorder</h2>
<%= render 'new_disorder_form' %>
<br></br>

<h2>All Disorders</h2>
<%= render 'all_disorders' %>
<br></br>
