<div id="navbar-inner">
  <h1>My Profile</h1>
</div>

<div class='container'>
  <div id='user-profile'>
    <ul>
    <li><h1><%= "#{@current_user.first_name} #{@current_user.last_name}" %></h1></li>
    <li><%= "ID: #{@current_user.id}" %></li>
    </ul>
  </div>
</div>